services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
      POSTGRES_DB: auth_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    image: YOUR_DOCKERHUB_USERNAME/support-backend:latest
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:


# My Test
# services:
#   db:
#     image: postgres:15
#     environment:
#       POSTGRES_USER: ${POSTGRES_USER}
#       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#       POSTGRES_DB: ${POSTGRES_DB}
#     ports:
#       - "5433:5432"
#     volumes:
#       - pgdata:/var/lib/postgresql/data

#   api:
#     build: .
#     env_file:
#       - .env
#     ports:
#       - "8008:8000"
#     depends_on:
#       - db

# volumes:
#   pgdata:
