services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: fastapi
    restart: always
    depends_on:
      - db
      - redis
    env_file:
      - .env.docker
    ports:
      - "8000:8000"

  celery_worker:
    build: .
    container_name: celery_worker
    restart: always
    command: >
      celery -A app.tasks.celery_app.celery
      worker
      --loglevel=INFO
    depends_on:
      - redis
      - db
    env_file:
      - .env.docker

  flower:
    build: .
    container_name: flower
    restart: always
    command: >
      celery -A app.tasks.celery_app.celery
      flower
      --port=5555
    depends_on:
      - redis
    ports:
      - "5555:5555"
    env_file:
      - .env.docker

volumes:
  postgres_data:
