fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

python-jose[cryptography]
argon2-cffi
passlib

pydantic
pydantic-settings
pydantic[email]

google-api-python-client
google-auth
google-auth-oauthlib

python-dotenv

pytest
httpx
