@import "tailwindcss";

*{
    scroll-behavior: smooth;
}




/* hide scrollbar  */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
/* custom scroll */

.gray-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: oklch(92.8% 0.006 264.531);
  
}

.gray-scroll::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border: 3px solid oklch(92.8% 0.006 264.531);
    border-radius: 5px;
}

.gray-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}


.gray-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.dark-gray-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: oklch(21% 0.034 264.665);
}

.dark-gray-scroll::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border: 3px solid oklch(21% 0.034 264.665);
    border-radius: 5px;
}

.dark-gray-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}


.dark-gray-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* custom scroll */

/* custom scroll textarea */

.textarea-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #fff;
  
}

.textarea-scroll::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border: 3px solid #fff;
    border-radius: 5px;
}

.textarea-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}

.textarea-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.dark-textarea-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: oklch(27.8% 0.033 256.848);
}

.dark-textarea-scroll::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border: 3px solid oklch(27.8% 0.033 256.848);
    border-radius: 5px;
}

.dark-textarea-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}


.dark-textarea-scroll::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}